
body {
   margin: 0;
   padding: 20px;
   background-color: pink; 
   line-height: 1.6;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: azure;
    border-radius: 10px;
    padding: 2px 20px;
}

h1, h2, h3{
    color: #1d3535;
}

h1{
   text-align: center;
   line-height: 30px;
   margin-bottom: 10px;
}

h2{
    margin-top: ;
}