
body {
   margin: 0;
   padding: 20px;
   background-color: pink; 
   line-height: 1.6;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: azure;
    border-radius: 10px;
    padding: 2px 20px;
}

h1, h2, h3{
    color: #1d3535;
}

h1{
   text-align: center;
   line-height: 30px;
   margin-bottom: 10px;
}

h2{
    margin-top: 30px;
    border-left: 5px solid #1d3535;
    padding-left: 10px
    ;
}
a{
    text-decoration: none;
    color: #1d3535;
}
a:hover{
    text-decoration: underline ;
   font-size: 1.1rem;
}
.indice{
    background-color: #f0f0f0;
    border-radius: 8px;
    padding:12px 6px;
    margin-bottom: 20px;
    border: 1px solid #cbd5dd;
}
.indice ul {
    margin: 0;
}
.indice ul ul{
    margin-top: 4px;
}
pre{
    background: #081e1e;
    color: #f0f0f0;
    padding: 10px 12px;
    border-radius: 10px;
    overflow-x: auto;
    font-size: 0.9rem;
    transition: transform 0.3s ease;
    
}
pre:hover{
   transform: scale( 1.03);
}

code{
    font-family: Consolas, "Courier New", monospace ;
}
#color.rgb {
color: blue;


}